@tailwind base;
@tailwind components;
@tailwind utilities;

h3 {
  font-family: "Anton", sans-serif;
}

h1 {
  font-family: "Phudu", cursive;
}

h2 {
  font-family: "Prompt", sans-serif;
}

p {
  font-family: "Teko", sans-serif;
}
